.games-section__dark, .footer {
    background-color: #343a40;
}

.games-section__light {
    background-color: #f8f9fa;
}

.btn.btn-warning {
    background-color: #ff7f50;
    border-color: #ff7f50;
}

@media (max-width: 992px) {
    .card-body.col-lg-6.col-md-12.align-self-center {
        order: 2;
    }

    .main-img.col-lg-6.col-md-12 {
        order: 1;
    }
}

